<html lang = "en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-odge">
	<meta name="viewport" content="width=>, initial-scale-1.0">
	<link rel="stylesheet" href="/rsc/style.css">
	<title><%=title%></title>
</head>

<body>
	<h1>404</h1>	
	<%- include('./partials/navbar.ejs') %>

	<h2>Page does not exist.</h2>

	<%- include('./partials/footer.ejs') %>
</body>

</html>