<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="res/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="res/js/jsIndex.js"></script>
    <meta charset="UTF-8">
    <title>NoteIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <div>
                <img src="res/images/NoteIt.png" alt="NoteIt">
            </div>
            <div class="search-container">
                <input type="text">
                <button>Search</button>
            </div>
            <div class="account">
                <input type="image" class="dropbtn" src="res/images/Account.png" onclick="dropdownMenu()">
                <div id="ddc" class="dropdown-content">
                    <p>Donald Duck</p>
                    <p>donald.duck@birds.com</p>
                </div>
            </div>

        </nav>
    </header>

    <section>
        <div class="main">
            <!--
        <div class="post">
            <div class="post-heading">
                <img src="res/images/Account.png" alt="Account">
                <p>Sep 25, 2021 13.34</p>
            </div>
            <div class="post-content">
                <img src="res/images/penguins.jpg" alt="Penguins">
                <p>GUYS! I saw 3 penguins today! BEST DAY OF MY LIFE!</p>
            </div>
            <div class="like-button">
                <input type="image" name="Like" src="res/images/Like.png" alt="Like">
            </div>
        </div>

        <div class="post">
            <div class="post-heading">
                <img src="res/images/Account.png" alt="Account">
                <p>Sep 25, 2021 13.40</p>
            </div>
            <div class="post-content">
                <p>Aww <span>❤❤❤</span> Where did you see them?</p>
            </div>
            <div class="like-button">
                <input type="image" name="Like" src="res/images/Like.png" alt="Like">
            </div>
        </div>

        <div class="post">
            <div class="post-heading">
                <img src="res/images/Account.png" alt="Account">
                <p>Sep 25, 2021 13.45</p>
            </div>
            <div class="post-content">
                <img src="res/images/parade.jpg" alt="Penguins">
                <p>I saw them on a Parade... PARADE OF THE PENGUINS!!!</p>
            </div>
            <div class="like-button">
                <input type="image" name="Like" src="res/images/Like.png" alt="Like">
            </div>
        </div>

    -->
        </div>
    </section>
    <footer>
        <p><sup>&copy;</sup> NoteIt & PostIt</p>
    </footer>
</body>

</html>