<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" src="res/js/jsIndex.js"></script>
    <link rel="stylesheet" href="res/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, inital-scale=1" />
</head>

<body>
    <div class="flex-containeer">
        <div>
            <img src="res/images/NoteIt.png" alt="NoteIt">
            <div class="helper">
                <img src="res/images/NoteIt.png" alt="NoteIt">
            </div>
            <h1>Welcome to postIt!</h1>
            <p><a href='index.html'>Create an Account</a></p>
            <p>Or</p>
            <p>Please Log In</p>
            <form>
                <input type="text" placeholder="Email"><br>
                <input type="password" placeholder="Password"><br>
                <input type="button" value="Log In" id="button" onclick="location.href = 'index.html'">
            </form>
            <p><a href='index.html'>Forgot password?</a></p>
        </div>
    </div>
</body>

</html>